h1{
    color: brown;
    font-style: italic;
    background-color: aqua;
    margin-bottom: 10px;
}
h2{
    color: rgb(251, 220, 251);
    font-size: xx-large;
    background-color:darkgoldenrod ;
}
p{
    color: darkorange;
    font-size: x-large;
    background-color: aqua;
}
ul{
    color: brown;
    background-color: burlywood;
    font-size: x-large;
}